@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');
:root{
    --cor1:#5BAAF0;
    --cor2:#4678A3;
    --cor3:#A043F0;
    --cor4:#6926A3;
    --cor5:#F0D250;
    --cor6:#A59BB3;
    --por:#c8a2c8;
    --mat:#6F7BFF;
    --his:#383E80;
    --geo:#817094;
    --red: #FF5E60;
    --ing:#6ACCB2;
    --quim:#8A7BBD;
    --biol:#A8D9FD;
    --fis:#E6E61C;
    --font1: 'Ubuntu', sans-serif;
    --font2:'Inter', sans-serif;
    
  
}
a{
    text-decoration: none;
}
header{
    background-color: var(--cor1);
 
    padding: 15px 20px 0px 20px;
    border-radius: 4.5px;
   height: 14.5vh;
}
header h1{
    text-align: left;
    color: var(--cor5);
    font-family: var(--font1);
    font-weight: bold;
    font-size: 2em;
}
.bg-body-tertiary{
    --bs-bg-opacity: 0;
}
nav.bg-body-tertiary{
    position: absolute;
    left: 78%;
    top: 0%;
}
button.btn-outline-success:hover{
    background-color: var(--cor4);
    color: white;
    
}
.btn-outline-succes{
    --bs-btn-color: var(--cor3);
    --bs-btn-border-color:var(--cor3);
    --bs-btn-hover-bg:var(--cor3);
}
nav.nav{
    background-color: var(--cor6);
    border-radius: 8.5px;
    box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 1%;
    top: 9%;
    width: 95%;

}
nav.nav a{
    text-decoration: none;
    color: white;
    font-family: var(--font1);
    font-weight: bold;
    margin: 8px;
}

nav.nav a:hover{
    background-color: var(--cor1);
    border-radius: 5.5px;
    padding: 1px;
}
main{
    padding: 25px;
    margin-top: 5px;
    width: 95%;
    height: 500px;
    
}
ul{
    list-style-type: none;
}
main div{
    display: inline-block;
}
div#d1{
    background: blue url("imagens/matematica.jpg") center center no-repeat ;
    background-size: cover;
    width: 12%;
    height: 20%;
}
div#d2{
    background: blue url("imagens/portugues.jpg") center center no-repeat ;
    background-size: cover;
    width: 12%;
    height: 20%;
}
div#d3{
    background: blue url("imagens/redaçao.jpg") center center no-repeat ;
    background-size: cover;
    width: 12%;
    height: 20%;
}
div#d4{
    background: blue url("imagens/geografia.jpg") center center no-repeat ;
    background-size: cover;
    width: 12%;
    height: 20%;
}
div#d5{
    background: blue url("imagens/ingles.jpg") center center no-repeat ;
    background-size: cover;
    width: 12%;
    height: 20%;
}
div#d6{
    background: blue url("imagens/historia.jpg") center center no-repeat ;
    background-size: cover;
    width: 12%;
    height: 20%;
}
div#d7{
    background: blue url("imagens/quimica.jpg") center center no-repeat ;
    background-size: cover;
    width: 12%;
    height: 20%;
}
div#d8{
    background: blue url("imagens/fisica.jpg") center center no-repeat ;
    background-size: cover;
    width: 12%;
    height: 20%;
}
div#d9{
    background: blue url("imagens/biologia.jpg") center center no-repeat ;
    background-size: cover;
    width: 12%;
    height: 20%;
}
div.nome{
    display: block;
    color: black;
    font-family: var(--font1);
    font-weight: bold;
    margin-left: 100%;
    margin-right: 200px;
    width: 15%;
    padding: 20px;
}
div.diciplina{
    margin: 20px;
    margin-right: 200px;
    box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.35);
}
main a{
    width: 25%;
}
main a:hover{
    text-decoration: underline;
    color: black;
    font-weight: bold;
}
.diciplina:hover{
    box-shadow: 10px 10px 10px white;
    transition-duration: 0.5s;
}
div.centro a{
    margin-left: 200px;
}